{{- $name := "Supasai Haplakhon" -}}
{{- $email := "boyskypart@gmail.com" -}}
{{- $github_user := "supasai(boy)" -}}
{{- $asdf_version := "0.9.0" -}}
{{- $computer_name := default "thingnoy-computer-name" (env "CM_computer_name") -}}
{{- $gpg_recipient := "BCF936170416825E804879138D8EAD7DDCC6A817" -}}

{{- if (env "ASK") }}
{{-   $computer_name = promptString "Computer Name" $computer_name -}}
{{-   $name = promptString "Full Name" $name -}}
{{-   $email = promptString "Email" $email -}}
{{-   $github_user = promptString "GitHub Username" $github_user -}}
{{-   $asdf_version = promptString "Asdf Version" $asdf_version -}}
{{-   $gpg_recipient = promptString "GPG Recipient" $gpg_recipient -}}
{{- end }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  github_user: {{ $github_user | quote }}
  asdf_version: {{ $asdf_version | quote }}
  computer_name: {{ $computer_name | quote }}

encryption: gpg
gpg:
  recipient: {{ $gpg_recipient | quote }}
