{{- $computer_name := default "thingnoy-computer-name" (env "CM_computer_name") -}}
{{- $email := "boyskypart@gmail.com" -}}
{{- $github_name := "supasai(boy)" -}}

{{- if (env "ASK") }}
{{-   $computer_name = promptString "Computer Name" $computer_name -}}
{{-   $email = promptString "Email" $email -}}
{{-   $github_name = promptString "GitHub Name" $github_name -}}
{{- end }}

data:
  computer_name: {{ $computer_name | quote }}
  email: {{ $email | quote }}
  github_name: {{ $github_name | quote }}
