{{- $name := "supasai(boy)" -}}
{{- $email := "boyskypart@gmail.com" -}}
{{- $github_user := "supasai(boy)" -}}
{{- $asdf_version := "0.12.0" -}}
{{- $computer_name := default "thingnoy-computer-name" (env "CM_computer_name") -}}

{{- if (env "ASK") }}
{{-   $computer_name = promptString "Computer Name" $computer_name -}}
{{-   $name = promptString "Full Name" $name -}}
{{-   $email = promptString "Email" $email -}}
{{-   $github_user = promptString "GitHub Username" $github_user -}}
{{-   $asdf_version = promptString "Asdf Version" $asdf_version -}}
{{- end }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  github_user: {{ $github_user | quote }}
  asdf_version: {{ $asdf_version | quote }}
  computer_name: {{ $computer_name | quote }}
