[user]
  email = {{ .email | quote }}
  name = {{ .github_name | quote }}

[credential]
  helper = osxkeychain

[core]
  ignorecase = false
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true

[pull]
  rebase = true

[init]
  defaultBranch = main

[alias]
  graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	cleanup-merged = !git branch --merged | sed 's/^[ *]*//' | grep -v '^$\\|^develop$\\|^main$\\|^master$\\|^release/' | xargs git branch -d
