[user]
  email = {{ .email | quote }}
  name = {{ .name | quote }}

[core]
  ignorecase = false

[pull]
  rebase = true

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[init]
  defaultBranch = main
