export EDITOR=vim
export TERM=xterm-256color
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export GOPATH=$HOME/go
export PATH=$PATH:$GOPATH/bin
export PATH="$PATH:${HOME}/.local/bin"
export PATH="$PATH:$(yarn global bin)"

# Chezmoi cached variables
export CM_computer_name={{ .computer_name }}

{{ if (eq .chezmoi.os "darwin" ) -}}
# Mac specific config
if [[ "$(uname -m)" == "arm64" ]]; then
  # 3. x86 brew bin
  if [ -f /usr/local/bin/brew ]; then
    eval $(/usr/local/bin/brew shellenv)
  fi

  # 2. arm64 brew
  if [ -f /opt/homebrew/bin/brew ]; then
    eval $(/opt/homebrew/bin/brew shellenv)
  fi
else
  # 3. arm64 brew
  if [ -f /opt/homebrew/bin/brew ]; then
    eval $(/opt/homebrew/bin/brew shellenv)
  fi

  # 2. x86 brew bin
  if [ -f /usr/local/bin/brew ]; then
    eval $(/usr/local/bin/brew shellenv)
  fi
fi

# 1. user brew
if [ -f ~/homebrew/bin/brew ]; then
  eval $(~/homebrew/bin/brew shellenv)
fi
{{- end }}

# Cleanup duplicated PATHs (mostly from shellenv evals above)
PATH="$(perl -e 'print join(":", grep { not $seen{$_}++ } split(/:/, $ENV{PATH}))')"

# Zoxide : prompt hook mode
if command -v zoxide &> /dev/null; then
  eval "$(zoxide init zsh --hook prompt)"
fi

[[ -f $HOME/.config/zsh/config/00_aliases.zsh ]] && source $HOME/.config/zsh/config/00_aliases.zsh
[[ -f $HOME/.config/zsh/config/10_options.zsh ]] && source $HOME/.config/zsh/config/10_options.zsh
[[ -f $HOME/.config/zsh/config/20_functions.zsh ]] && source $HOME/.config/zsh/config/20_functions.zsh

source $(brew --prefix asdf)/libexec/asdf.sh
