[data]
# Default username.
user = "skypart"

# Email (used for git)
email = "boyskypart@gmail.com"

# Full Name (used for git)
full_name = "supasai haplakhon"

[data.git]
# PGP signing key
signing_key = "3814542908D43F6A3BB91A5D7B3E2B95F38BAC27"
