[data]
# Default username.
user = "skypart"

# Email (used for git)
email = "boyskypart@gmail.com"

# Full Name (used for git)
full_name = "supasai haplakhon"

[data.git]
# PGP signing key
signing_key = "8D8EAD7DDCC6A817"
