[user]
  email = {{ .email | quote }}
  name = {{ .full_name | quote }}
  signingkey = {{ .git.signing_key | quote }}

[core]
  ignorecase = false
  
[credential]
  helper = osxkeychain

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[commit]
  gpgsign = true

[color]
  ui = true
  diff = true
  
[pull]
  rebase = false

[gpg]
  program = gpg

[init]
  defaultBranch = main
