{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Install common macOS packages

source /tmp/chezmoi-utils.sh

printf "${green}[10 - macOS] ${reset}"
{{- if or (lt 10 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_BREW") }}
echo "Skip installing common macOS packages"
exit 0
{{ else }}
echo "Install common macOS packages"
{{- end }}

set -eufo pipefail

{{ $taps := list
  "mac-cleanup/mac-cleanup-py"
  "FelixKratz/formulae"
-}}

# "asdf"                         # Extensible version manager with support for Ruby, Node.js, Elixir, Erlang & more
# "bat"                          # Cat clone with syntax highlighting and Git integration
# "chezmoi"                      # Dotfiles manager
# "dust"                         # More intuitive version of du (disk usage)
# "eza"                          # Modern replacement for ls command
# "fd"                           # Simple, fast and user-friendly alternative to find
# "fzy"                          # Fuzzy text selector/filter for terminal
# "git"                          # Distributed version control system
# "gpg"                          # GNU Privacy Guard - PGP encryption and signing tool
# "htop"                         # Interactive process viewer and system monitor
# "mac-cleanup-py"               # Python cleanup script for macOS
# "nvim"                         # Neovim text editor
# "prettyping"                   # Wrapper around ping with colorful and simplified output
# "ripgrep"                      # Fast, user-friendly alternative to grep
# "zoxide"                       # Smarter cd command that learns your habits
# "zsh"                          # Shell with improved features and performance
# "zsh-autosuggestions"          # Fish-like autosuggestions for Zsh
# "zsh-history-substring-search" # Fish-like history search for Zsh
# "zsh-syntax-highlighting"      # Fish-like syntax highlighting for Zsh

{{ $brews := list
  "asdf"
  "bat"
  "borders"
  "chezmoi"
  "dust"
  "eza"
  "fd"
  "fzy"
  "git"
  "gpg"
  "htop"
  "mac-cleanup-py"
  "nvim"
  "prettyping"
  "ripgrep"
  "tree"
  "zoxide"
  "zsh"
  "zsh-autosuggestions"
  "zsh-history-substring-search"
  "zsh-syntax-highlighting"
-}}

{{ $casks := list
  "font-jetbrains-mono-nerd-font"
-}}

brew bundle --file=- <<EOF || :
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end }}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
EOF

echo "Start services..."

{{ end -}}
